other/xml/country.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copied from https://ru.wikipedia.org/wiki/XML_Schema_(W3C) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ru.wikipedia.org/"
           xmlns="https://ru.wikipedia.org/"
           elementFormDefault="qualified">
    <xs:element name="country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country_name" type="xs:string"/>
                <xs:element name="population" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
